.color_bar {
    display: flex;
    flex-direction: column;
    float: left;
    gap: 40px;
    margin-top: 15px;
  }
  
  .color_bar .icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  .color_bar_list {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    height: 0;
    transition: 300ms;
    padding-left: 0;
  }
  
  .color_bar_list_active {
    height: 100px;
    padding-left: 0;
  }
  
  .color_bar_list_item {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    list-style: none;
    cursor: pointer;
    border: 1px solid black;
    }