body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-title{
  flex: 2;
}

.dark-mode{
  background-color: black;
}

.dark-mode h1{
  color: white;
}

.container{
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}

.search{
  display: flex;
  align-items: center;
  background-color: rgb(209, 209, 209);
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 1.5em;
}

.search input{
  border: none;
  background-color: rgb(209, 209, 209);
}

.search input:focus{
  outline: none;
}

.notes-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note.new{
  background-color: rgb(177, 176, 176);
}

textarea{
  border: none;
  resize: none;
  background-color: rgb(177, 176, 176);
}

textarea:focus{
  outline:none;
}

.moon{
  cursor:pointer;
  background-color: white;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  width: 20px;
  height: 20px;
}

.moon:hover{
  background-color: grey;
  cursor:pointer;
}

.save{
  margin-top: 15px;
  background-color: white;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.save:hover{
  background-color: grey;
  cursor:pointer;
}

.note{
  white-space: pre-wrap;
  overflow-wrap: break-word;
  background-color: #fef68a;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
}

.delete-icon, .edit-icon{
  cursor: pointer;
  display: inline;
  float: right;
}

.note-header{
  font-weight: bold;
  margin-bottom: 5px;
}

.note-footer{
  display: flex;
	align-items: center;
	justify-content: space-between;
}

.back-lnk{
  border-radius: 25px;
  background-color: #27187a;
  color: white;
  padding: 10px;
  position: relative;
  size: 1.3rem;
  border: 2px solid black;
}

.back-lnk:hover {
  background-color: rgb(177, 176, 176);
  color: black;
  cursor: pointer;
}

#delete-all-btn{
  border-radius: 25px;
  background-color: #27187a;
  color: white;
  padding: 10px;
  position: relative;
  border: 2px solid black;
}

#delete-all-btn:hover{
  background-color: rgb(177, 176, 176);
  color: black;
  cursor: pointer;
}

.control-btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}